<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ec_app.infrastructure.repository.mapper.OrderMapper">
  <insert id="insertOrderItem" useGeneratedKeys="true">
    INSERT INTO 
      ORDER_ITEMS (USER_ID, SUB_TOTAL)
    VALUES
      (#{userId}, #{subTotal})
  </insert>

  <insert id="insertOrderDetail">
    INSERT INTO
      ORDERS_DETAILS (ORDER_ID, PRODUCT_ID, QUANTITY, ORDER_PRICE)
    VALUES
      (#{orderId}, #{productId}, #{quantity}, #{order_price})
  </insert>
</mapper>